{% extends 'master.html' %}

{% block menu %}
<a href="{% url 'GWG:home' %}">Home</a>
<a href="{% url 'GWG:logout' %}">Logout</a>
<div>
    <a href="{% url 'GWG:profile' %}">Hi<div class="profile">{{request.session.firstLetter | upper}}</div></a>
</div>
{% endblock %}

{% block content %}

<div class="textSlid">
    <mARquee>
        <font size="8">
            <B>Welcome to Grow With Grades</B>
        </font>
    </mARquee>
</div>

<br>
<div id='report'>
<h1> All profile details. </h1>
</div>

<div class="form">
    {% for u in users %}
    <p>UserName : {{ u.username}}</p><br>
    <p>Name : {{ u.name}}</p><br>
    <p>E-mail : {{ u.email}}</p><br>
    <p>Class : {{ u.classTh}}</p><br>
    <p>Mobile No. : {{ u.mobileNo}}</p><br>
    <p>Test Attempted : {{ u.test_attempted}}</p><br>
    <p>Points : {{ u.points}}</p><br><br><br>
    {% endfor %}

</div>


{% endblock %}